<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>After Before Content</title>
<style>

.content a:hover + p:after {
	content: attr(data-value);
}

h1 {
	background: #ff0;
	line-height: 52px;
	display: inline;
	font-weight: normal;
	padding: 0 5px 8px 5px;
}

</style>
</head>

<body>

	<div class="content">
    	
        <a href="">Title 1</a>
        
        <p data-value="Title Content 1">Content: </p>
        
    </div>
    
    
    <h1>Don’t just ask for links, earn them. Produce valuable content related to your industry with keywords used appropriately and tagged efficiently on your webpage to establish the brand as an expert in the field.</h1>
    

</body>
</html>
